.container {
  height: 100vh;
  background: url("/assets/img/background.png");
}
.avatar {
  position: relative;
}
.avatar mat-icon {
  font-size: 35px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ff0000;
}
.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
}
.content p {
  font-size: 20px;
  font-family: Montserrat;
  color: #000000de;
  font-weight: bold;
}
.content span {
  font-size: 14px;
  font-family: Montserrat;
  color: #000000b2;
}
.center {
  padding-top: 20px;
  text-align: center;
}
a,
a:link,
a:visited,
a:active {
  color: #039be5;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
}
