<div class="container" fxLayout fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxLayoutGap="20px" fxFlex="1 1 450px">
    <div fxLayout fxLayoutGap="20px">
      <div class="avatar">
        <img src="/assets/icons/user.svg" alt="" />
        <mat-icon>lock</mat-icon>
      </div>
      <div class="content">
        <p>Su sesion ha sido bloqueada</p>
        <span>Ingrese su contraseña para Ingresar</span>
      </div>
    </div>
    <form fxLayout="column" class="form-lock">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput />
        <mat-icon matSuffix color="warn">vpn_key</mat-icon>
      </mat-form-field>
      <div fxLayout fxLayoutAlign="center">
        <button
          type="button"
          mat-flat-button
          color="primary"
          (click)="unlock()"
        >
          DESBLOQUEAR
        </button>
      </div>
      <div class="center">
        <a routerLink="/auth">Iniciar sesion con otra cuenta</a>
      </div>
    </form>
  </mat-card>
</div>
