<div class="container" fxLayout fxLayoutAlign="space-between">
  <div
    fxLayout="column"
    fxLayoutAlign="center start"
    fxLayoutGap="40px"
    fxFlex="1 1 100%"
    class="presentation"
  >
    <h2>GamarraShop</h2>
  </div>
  <div fxLayout class="login">
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      [formGroup]="group"
    >
      <h3>Login</h3>
      <div fxLayout="column" class="credenciales">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input type="email" matInput formControlName="correo" required />
          <mat-icon matSuffix color="primary">email</mat-icon>
          <mat-error *ngIf="group.get('correo').hasError('required')"
            >El correo es obligatorio</mat-error
          >
          <mat-error *ngIf="group.get('correo').hasError('email')"
            >Debe ser un correo</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            type="password"
            matInput
            formControlName="contrasena"
            required
          />
          <mat-icon matSuffix color="primary">lock</mat-icon>
          <mat-error *ngIf="group.get('contrasena').hasError('required')"
            >La contraseña es obligatoria</mat-error
          >
        </mat-form-field>
      </div>
      <div fxLayout="column" class="credenciales">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="enter()"
        >
          Ingresar
        </button>
      </div>
    </form>
  </div>
</div>
